<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
</head>
<body>
    <h1>Книги</h1>
<!--    <h2 th:text="${booksss}"></h2>-->
    <div th:each="el : ${books}" class="editInformation">
        <div style="display:flex; justify-content: space-around; width: 30%" >
                <p  class="size" th:text="${el.book_name}"></p>
                <p   th:text="${el.binding}" class="size" ></p>
                <p   th:text="${el.genre}" class="size"  ></p>
                <p   th:text="${el.publisher}" class="size"  ></p>
                <p   th:text="${el.publishedYear}" class="size" ></p>
                <a th:href="@{/edit/book/{id}/(id=${el.id})}">Редактировать</a>
                <a th:href="@{/edit/book/{id}/delete/(id=${el.id})}">Удалить</a>
        </div>
    </div>
    <form method="post" th:object="${bookObj}" action="/book">
        <h2>Форма добавления новой книги</h2>
        <p th:if="${#fields.hasErrors('binding')}" th:errorclass="error" th:errors="*{binding}">Name Error</p><br>
        <input th:field="*{binding}" type="text" id="binding" placeholder="переплет">

        <p th:if="${#fields.hasErrors('book_name')}" th:errorclass="error" th:errors="*{book_name}">Name Error</p><br>
        <input th:field="*{book_name}"type="text" id="book_name" placeholder="название книги">

        <p th:if="${#fields.hasErrors('publisher')}" th:errorclass="error" th:errors="*{publisher}">Name Error</p><br>
        <input th:field="*{publisher}"type="text" id="publisher" placeholder="издатель">

        <p th:if="${#fields.hasErrors('publishedYear')}" th:errorclass="error" th:errors="*{publishedYear}">Name Error</p><br>
        <input th:field="*{publishedYear}"type="text" id="publishedYear" placeholder="год публикации">

        <p th:if="${#fields.hasErrors('genre')}" th:errorclass="error" th:errors="*{genre}">Name Error</p><br>
        <input th:field="*{genre}"type="text" id="genre" placeholder="жанр">

        <p th:if="${#fields.hasErrors('authorId')}" th:errorclass="error" th:errors="*{authorId}">Name Error</p><br>
        <select th:field="*{authorId}" name="chooseAuthor" id="author">
            <option th:each="el : ${authors}" th:text="${el.au_name}" th:value="${el.id}"></option>
        </select>
        <button type="submit">Добавить</button>
    </form>

</body>
</html>